/* .login-email {
  margin-right: 80%;
  margin-bottom: 10px;
} */
.background-color {
  background-color: blueviolet;
  padding: 30px;
}

@media only screen and (max-width: 746px) {
  .contactimg {
    margin-top: 20px;
  }
  .github-button {
    margin-top: 10px;
    margin-left: 10px;
  }
  .google-button {
    margin-right: -6px;
  }
}
@media only screen and (min-width: 747px) {
  .contactimg {
    margin-left: 40px;
  }
  .github-button {
    margin-left: 10px;
  }
}
